body{
  background: #dfdfdf;
}
.container{
  max-width: 500px;
}
input[type=text],
input[type=text]:focus{
  color: white;
  border: none;
  background: lightgreen;
  max-width: 400px;
}
.todos li{
  background: #423a6f;
}
.delete{
  cursor: pointer;
}
.filtered{
  display: none !important;
}
